* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #ddd;
}

/* header */
.head {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 60px;
  background-color: #fff;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
  display: flex;
  align-items: center;
}

.head .logo {
  margin-left: 20px;
  display: flex;
}

.head .logo h1 {
  font-size: 20px;
}

.head .logo img {
  margin-right: 10px;
}

.left {
  position: fixed;
  top: 60px;
  left: 0;
  width: 250px;
  height: 100%;
  border-right: 1px solid #666;
  background-color: #fff;
}

.left .writememo {
  width: 249px;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
}

.left .writememo a {
  display: block;
  line-height: 36px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 213px;
  height: 36px;
  background-color: #00c73c;
  overflow: hidden;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
}

.list {
  margin-top: 80px;
  margin-left: 270px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.note {
  width: 258px;
  height: 300px;
  background-color: #fff;
}

.note .content {
  padding: 20px;
}

.note h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.note p {
  min-height: 160px;
  font-size: 15px;
}

.note .top {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #666;
}

.note .top .date {
  padding-left: 20px;
  margin-right: auto;
  font-size: 14px;
  color: #666;
}

.note .top .btns {
  padding-right: 20px;
  font-size: 20px;
  display: flex;
  gap: 16px;
}

.note .top .btns span {
  cursor: pointer;
}

/* write */
.container {
  max-width: 500px;
  margin: 0 auto;
}

.container h2 {
  font-size: 30px;
  margin: 20px;
  text-align: center;
}

form div {
  margin-bottom: 20px;
  font-size: 18px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input,
form textarea {
  width: 100%;
  padding: 12px;
}

form button {
  padding: 10px 20px;
  margin: 4px;
}
